<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <form action="login" method="POST">
        {% csrf_token%}
        <input type="text" name="uname" placeholder="Username"><br>
        <input type="password" name="psd" placeholder="Password"><br>
        <input type="submit" ><br>
    </form>
    <div>
        <h4 style="color: crimson;">
            {% for msg in messages%}
            {{msg}}
            {%endfor%}
        </h4>
    </div>
</body>
</html>